#root {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  color: #213547;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 8px;
}

h1,
h2,
h3,
h4,
ul {
  margin: 15px;
  padding: 0;
}

li {
  list-style: none;
}

input {
  padding: 10px;
  margin: 10px;
}

.formSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.btn {
  padding: 10px 20px 10px 20px;
  background-color: rgb(201, 50, 88);
  border-radius: 8px;
  color: white;
  transition: color 0.25s;
  margin-right: 10px;
}

.btn:hover {
  color: #b46ba9;
}

.active {
  background-color: rgb(109, 15, 38);
}

.header {
  background-color: rgb(247, 252, 255);
}

.navPage {
display: flex;
  padding: 15px;
  align-items: center; /
}

.naviBack {
  margin-left: auto;
  text-align: right;
}

.movieDetailsPage {
  display: flex;
  gap: 15px;
  padding-top: 60px;
}

.movieImage {
  display: flex;
  justify-content: flex-start;
  height: 400px;
  width: auto;
  object-fit: cover;
}

.movieContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: transform 0.3s ease;
  justify-content: center;
  align-items: center;
}
.movieContainer:hover {
  transform: scale(1.03);
}

.imgSmall {
  display: flex;
  justify-content: center;
  height: auto;
  width: 15%;
  object-fit: cover;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.imgSmall:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.movieDescr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}

.addDescr {
  display: flex;
  gap: 10px;
}

.castImage {
  display: flex;
  height: 200px;
  width: auto;
  object-fit: cover;
  gap: 15px;
}

.castSet {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.castCard {
  width: 150px;
  text-align: center;
}

.strong {
  font-weight: 700;
}